<div class="container" [ngClass]="{ blur: showOverlay || showEditOverlay }">
  <div class="row">
    <div class="col-xs-12">
      <h1>Image gallery</h1>
      <div class="grid">
        <div
          class="img_container"
          *ngFor="let image of imageDetails; let i = index"
        >
          <div class="icon_container">
            <div class="icon_container-1">
              <img
                src="../assets/images/dustbin.png"
                alt="Delete icon"
                class="grid_icon"
                (click)="show(image)"
              />
            </div>
            <div class="icon_container-1">
              <img
                src="../assets/images/three-dots.png"
                alt="Edit icon"
                class="grid_icon"
                (click)="showEdit(image)"
              />
            </div>
          </div>
          <img class="grid_image" [src]="image.url" [alt]="image.name" />
          <div class="img_details">
            <p class="grid_image-name">{{ image.name }}</p>

            <div
              *ngIf="image.tag | showTwoItems as limitedItems"
              class="tag_container"
            >
              <div class="tag_container-plus">+</div>
              <div
                class="grid_image-tag"
                *ngFor="let tag1 of limitedItems.items"
              >
                {{ tag1 }}
              </div>
              <span *ngIf="limitedItems.extra > 0" class="extra-count">
                + {{ limitedItems.extra }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="upload-container"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <input
          type="file"
          *ngIf="!imageUrl"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <p *ngIf="!imageUrl">Drag and drop your images here</p>

        <div class="preview" *ngIf="imageUrl">
          <img class="img" [src]="imageUrl" alt="Preview" />
          <br />
          <input
            type="text"
            class="img_tag"
            placeholder="Enter name of your image"
            [(ngModel)]="nameOfImage"
          />
          <input
            type="text"
            class="img_tag"
            placeholder="Enter tag for your image"
            [(ngModel)]="tag"
          />

          <br />
          <button class="btn btn-primary" (click)="onUpload(tag)">
            Upload image
          </button>
          <button class="btn btn-danger" (click)="onDelete()">
            Delete image
          </button>
        </div>
        <div
          class="upload"
          [ngStyle]="uploading ? { display: 'block' } : { display: 'none' }"
        >
          <p>Uploading...</p>
          <div class="upload_outer">
            <div class="upload_inside"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-overlay
  *ngIf="showOverlay"
  (show)="showOverlay = $event"
  [select]="selectedImage"
  (emitDetails)="imageDetails = $event"
></app-overlay>
<app-edit-overlay
  *ngIf="showEditOverlay"
  [select]="selectedImage"
  (showEdit)="showEditOverlay = $event"
></app-edit-overlay>
