<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Image gallery</h1>
      <div class="grid">
        <img
          *ngFor="let image of imageDetails"
          [src]="image.url"
          class="grid_image"
          [alt]="image.tag"
        />
      </div>
    </div>
  </div>
</div>

<div
  class="upload-container"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
>
  <input
    type="file"
    (change)="onFileSelected($event)"
    accept="image/*"
    hidden
    multiple
  />
  <p>Drag and drop your images here, or click to select</p>

  <div class="preview" *ngIf="imageUrl">
    <img class="img" [src]="imageUrl" alt="Preview" />
  </div>
</div>

<!-- <div class="drop-zone">Drag something here...</div> -->
